body{
    margin: 0%;
    height: 100%;
    background-color: #41b3a3;
}
.header{
    text-align: center;
    position: relative;
    margin-top: 3%;
}
.clock{
    background-color: #63bca7;
    margin: 2% 20% 0% 20%;
}
h1{
    color: #9de3e0;
    position: relative;
    display: inline-flex;
    font-size: 300%;
}
button{
    margin-top: 3%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2daca4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px 10px 0 #999;
}
button:active{
    background-color: #58a0a4;
    box-shadow: 0px 5px #666;
    transform: translateY(4px);
}
#timer{
    font-size: 900%;
    margin: 6% auto 3% auto;
}
#start{
    margin-bottom: 7%;
}
#short{
    margin: auto 3%;
}
div{
    text-align: center;
}
footer{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgb(215, 144, 144);
	text-align: center;
}